.pepole
{
    color: #fff;
    background-color: red;
    border-radius: 5px;
    padding: 2px 5px;
}

.h-button
{
    border: none;
    margin: 2px;
    padding: 3px 15px;
    font-size: 20px;
    border-radius: 2px;
    background-color: rgba(240, 248, 255, 0.493);
    transition: 0.3s;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    color: #fff;
    background-color: red;
}
.h-button:hover
{
    
    background-color: rgba(10, 141, 255, 0.493);
}

.categorieDiv{
    background-color: aliceblue;
    margin: 10px;
}

.array{
    background: red;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.card-title
{
    color: red;
}

/*
sorting by watch 
modal details
error handling
*/